{% extends 'base.html' %}

{% block head %}
<title>Anime</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Anime</h1>
</div>

<img src="static/images/Dragon-Ball-Z-Best-Battles.jpg" alt="DBZ" class="DBZImage">

<div class="body">
    Anime is another way of saying Japanese cartoon. A couple of famous anime out there consists of shows like Dragon Ball Z, Pokemon and Yu-gi-oh.
    A couple of my favourite anime are Naruto, Full Metal Alchemist and Attack On Titan just to name a few. My first anime I watched was Pokemon.
    The more recent Anime I have watched are Jujutsu Kaisen, Blue Lock and Chainsaw Man.
</div>

{% endblock %}