{% extends 'base.html' %}

{% block head %}
<title>Sports</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Sports</h1>
</div>

<img src="static/images/LeBron_James_(51959977144)_(cropped2).jpg" alt="Basketball" class="LebronJames">

<div class="body">
    I like to watch Football. My favourite team is Chelsea. My favourite player is Didier Drogba.
    I like to play Basketball and Bowling. I also like to watch the Olympic games especially the track and field events.
</div>
{% endblock %}