{% extends 'base.html' %}

{% block head %}
<title>Video Games</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Video Games</h1>
</div>

<img src="static/images/Halo_3_final_boxshot.jpg" alt="Halo" class="HaloImage">

<div class="body">
    I like to play video games. My earliest video game memory is playing Mickey Mouse and Crash Bandicoot on the PlayStation.
    From there, I owned Playstation 2, 4 and 5, Nintendo Game cube, Nitendo DS and 3DS, Gameboy Advance and Xbox 360.
    Some of my favourite games are Kid Icarus Uprising, Halo 3 and Naruto Storm 4.
</div>
{% endblock %}